<header class="header">
        <h1 class="header-title title is-2">
            OneSecond <span class="version">v.Alpha</span>
        </h1>
    </header>
    <section class="section">
        <div class="container">
            <div id="page1" class="page active">
                <div class="box-container">
                    <div class="box large-box game-description">
                        <h2 class="title is-3 has-text-link">Welcome to OneSecond!</h2>
                        <p class="mb-4">Connect your Apple Music account and test your music knowledge.
                            We'll play a random 1-second snippet from your library or playlists, and your task is to guess the song!
                            Are you ready to challenge your music recognition skills?</p>
                        <div class="buttons-centered">
                            <button id="authorizeButton" class="button is-primary">Log In</button>
                            <button id="unauthorizeButton" class="button is-danger">Log Out</button>
                        </div>
                    </div>
                </div>
                <div class="box-container">
                    <div class="box large-box has-text-centered">
                        <p id="difficultyHeader" class="subtitle has-text-weight-bold has-text-centered has-text-link">Select a Difficulty<br><br></p>                        
                            <button class="button is-link is-medium is-fullwidth" id="normalModeButton">Normal</button>
                        
                            <button class="button is-link is-medium is-fullwidth" id="challengeModeButton">Challenge</button>
                            
                    </div>
                </div>
            </div>
            <button id="backButton" class="button is-link">Back</button>
        </div>
    </section>

<script src="/public/js/index.js"></script>
<script src="/public/js/style.js"></script>
