
    <header class="header">
        <h1 class="header-title title is-2">
            OneSecond <span class="version">v.Alpha</span>
        </h1>
    </header>
    <section class="section">
        <div class="container">
            <div class="box-container">
                <div class="box large-box">
                    <h2 class="subtitle has-text-link">Select a Playlist</h2>
                    <div class="field">
                        <div class="control">
                            <input type="text" id="searchInput" class="input" placeholder="Search Playlists...">
                        </div>
                    </div>
                    <div class="home-button-container">
                        <button id="homeButton2" class="button is-link">Home</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../public/js/index.js"></script>
    <script src="../public/js/style.js"></script>
<!--    <script src="/js/index.js"></script>-->
<!--    <script src="/js/style.js"></script>-->