
<style>
        .page { display: none; }
        .active { display: block; }
        .box-container { margin-bottom: 20px; }
        .dialogue {
            display: none;
            position: absolute;
            bottom: 300px;
            right: 10px;
            background-color: #fff;
            border: 1px solid #ccc;
            padding: 10px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.1);
            z-index: 10;
            border-radius: 10px;
        }
        .button-container {
            position: relative;
            display: inline-block;
            margin: 10px;
        }
    </style>
    <link rel="stylesheet" href="style.css">

<body>
    <header class="header">
        <h1 class="header-title title is-2">
            OneSecond <span class="version">v.Alpha</span>
        </h1>
    </header>
    <section class="section">
        <div class="container">
            <div class="box-container">
                <div class="box large-box has-text-centered">
                    <h2 class="title is-3 has-text-link">Choose Your Collection</h2>
                    <p id="collectionHeader" class="subtitle has-text-weight-bold has-text-centered has-text-link">
                        Select a Collection to Play From
                    </p>
                    <button id="fetchLibraryButton" class="button is-link is-medium is-fullwidth">
                        Play With Entire Library
                    </button>
                    <button id="fetchPlaylistsButton" class="button is-link is-medium is-fullwidth">
                        Play With a Playlist
                    </button>
                    <div class="home-button-container">
                        <button id="backButton" class="button is-link">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
<script src="/js/selectCollection.js"></script>


